h1 {
    color: #292727;
    text-align: center;
}

.fp-auto-height.fp-section, .fp-auto-height .fp-slide, .fp-auto-height .fp-tableCell {
    height: auto !important
}

.fp-responsive .fp-auto-height-responsive.fp-section, .fp-responsive .fp-auto-height-responsive .fp-slide, .fp-responsive .fp-auto-height-responsive .fp-tableCell {
    height: auto !important
}

.section.section-1 h1{
    transition: 1s;
    opacity: 0;
    transform: translateX(-100%);
}

.section.section-2 h1{
    transition: 1s;
    opacity: 0;
    transform: translateX(100%);
}

.section.section-3 h1{
    transition: 1s;
    opacity: 0;
    transform: translateX(-100%);
}
.section.section-4 h1{
    transition: 1s;
    opacity: 0;
    transform: translateX(100%);
}

.section.active h1{
    opacity:1;
    transform: translateX(0);
}

.section.section-2 img{
    height: 120%;
    position: absolute;
    bottom: 0;
    right: 0;
}